@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto Taller de Base de Datos</h1>
    
    <h3>
        <p>Alumno: Arellano Rosas Manuel Maximilinao</p>
    <p>Materia:Taller de Base de Datos</p>
    <p>Pofesora: Ofelia</p>
    <p>INTERFAZ GRAFICA PARA BASE CREADA ANETERIORMENTE EN CLASE</p> </h3>
</div>
